<nav>
    <div id="navigation-first-half">
      <span id="Logo">Logo</span>
      <input type="text" id="Serach-input" placeholder="Search">
    </div>
    <div id="navigation-second-half">
      <ul id="navigation-list">
      <li class="drop-down-element">
        <div>
            <span>Explorez <i class="fa-solid fa-caret-down"></i></span>
        </div>
        <div class="hidden-element" >
            <span>Shoes</span><br>
            <span>shirts</span><br>
        </div>
      </li>
      <li class="drop-down-element">
        <div>
            <span>Compte <i class="fa-solid fa-caret-down"></i></span>
        </div>
        <div class="hidden-element" >
            <span>Shoes</span><br>
            <span>shirts</span><br>
        </div>
      </li>
      <li class="drop-down-element">
        <div>
            <span>Livraison <i class="fa-solid fa-caret-down"></i></span>
        </div>
        <div class="hidden-element" >
            <span>Shoes</span><br>
            <span>shirts</span><br>
        </div>
      </li>
      <li class="drop-down-element">
        <div>
            <span>Francais <i class="fa-solid fa-caret-down"></i></span>
        </div>
        <div class="hidden-element" >
            <span>Shoes</span><br>
            <span>shirts</span><br>
        </div>  
      </li>
      </ul>
      <i id="cart-navigation" class="fa-solid fa-cart-shopping"></i>
    </div>
  </nav>