nav{
   
    padding: 0% 0% 0% 5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    background-color: ghostwhite;
}
#cart-navigation{
    cursor: pointer;
}
#Serach-input{
    padding: 1% 0px 1% 2%;
    width: 50%;
    border: none;
}
#Logo{
    margin-right: 1%;
  
}
.clickable{
    cursor: pointer;
}
#navigation-first-half{
width: 60%;
}
#navigation-second-half{
    
    width: 25%;
    
}
#navigation-second-half ul{
    display: flex;
    justify-content: space-around;
}
#navigation-list{
list-style: none;
display: flex;
}
#navigation-list li{
    cursor: pointer;
    
}
.hidden-element{
    display: none;
    position: absolute;
   
    width: 80px;
    padding: 10px 0px 10px 10px;
    transition: max-height 0.15s ease-out;
    background-color: wheat;
    max-height: 100%;
    color: black;
}
.hidden-sub{

   
    width: 80px;
    

    background-color: wheat;

}

.drop-down-element:hover .hidden-element{
    display: block;
    cursor: pointer;
   max-height: 100%;
   z-index: 3;
  
}
.smallS{display: none;}
@media only screen and (max-width: 850px){
    .smallS{
        display: block;
    }
    .bigS{
        display: none;
       
    }
    #navigation-second-half{
       
        width: unset;
        padding-right: 8%;
    }
    
}
