<div id="product">
    <div id="product-images">
        <img class="image" src="../../assets/PUMA/1.jpg">
        <img class="image" src="../../assets/PUMA/2.jpg">
        <img class="image" src="../../assets/PUMA/3.jpg">
    </div>
    <i class="fa-solid fa-angle-left fa-5x clickable"></i>
    <div id="main-image-div">
        <img id="main-image" src="../../assets/PUMA/1.jpg" >
    </div>
    <i  class="fa-solid fa-angle-right fa-5x clickable"></i>
    <div id="description">
        <h1 id="title">PUMA Cali Wn's Baskets Femme</h1>
        <h3>Couleurs :</h3>
        <div class="color clickable" id="white"></div>
        <div class="color clickable" id="red"></div>
        <div class="color clickable" id="green"></div>
        <div class="color clickable" id="black"></div>
        <div class="color clickable" id="cyan"></div><br>
        <h3>taille :</h3>
        <div class="taille clickable" id="white">38</div>
        <div class="taille clickable" id="white">39</div>
        <div class="taille clickable" id="white">40</div>
        <div class="taille clickable" id="white">41</div>
        <div class="taille clickable" id="white">41</div><br>
        <h3>Prix :</h3>
        <h1>9800 DA</h1>
    </div>
</div>
<div>

</div>
<div id="add-to-cart">
    <span>Ajouter au panier</span>
</div>