/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
  
body{
  min-width: calc(100vw - (100vw - 100%));
    min-height: 100vh;
    height: fit-content;
    width: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./assets/background.jpg')
}